* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-display: swap;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'),
        url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
    font-display: swap;
}

:root {
    --bg-color: #FFFFFF;
    --text-color: black;
    --second-color: #5a7184;
    --main-color: #6e54fa;
    --big-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}



nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 35px 14%;
    background-color: var(--bg-color);
    transition: all .4s ease;
    z-index: 1000;
}

.navlist {
    display: flex;
}

.logo {
    display: flex;
    color: black;
    font-size: 20px;
}

.logo img {
    margin-right: 15px;
    width: 100%;
    height: 30px;
}

.navlist a {
    color: black;
    margin: 0 20px;
    letter-spacing: 2px;
}

.navlist i {
    display: none;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

.btn {
    color: black;
    letter-spacing: 2px;
    margin-right: 20px;
}

.btn2 {
    color: #0A8080;
    position: relative;
}

.line img {
    position: absolute;
    right: 14%;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8% 14%;
    text-align: center;
}

.title-sec h1 {
    color: black;
    font-size: 30px;
}

.title-sec p {
    color: black;
    margin: 15px;
}

.getbtn {
    background-color: #0A8080;
    color: white;
    letter-spacing: 1px;
    padding: 12px 22px;
    margin-top: 15px;
    display: inline-flex;
    border-radius: 5px;
}

.home-img {
    position: relative;
}

.home-img img {
    width: 80%;
    height: 30%;
}

.cards {
    width: 100%;
    height: 100%;
    background-color: #FFF5ED;
    position: absolute;
    top: 80%;
    padding: 8% 14%;
}

.cards h1 {
    font-size: 25px;
}

.cards p {
    font-size: 10px;
    color: black;
    margin-top: 15px;
}

.row {
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.rows-1 {
    display: flex;
    text-align: start;
}

.rows-1 img {
    width: 100px;
    height: 100px;
}

.details h1 {
    font-size: 20px;
    font-weight: 500;
    color: rgb(34, 34, 34);
    margin-left: 20px;
}

.details p {
    margin-left: 20px;
    width: 50%;
    color: black;
}

.quot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}



.quot img {
    position: relative;
    right: 20%;
    width: 50px;
    height: 43px;
}

.quot p {
    position: absolute;
    width: 30%;
    font-size: 18px;
    bottom: 33%;
    text-align: start;
    color: black;
}

.quot .p2 {
    color: grey;
    bottom: 30%;
    font-size: 10px;
}

.social {
    margin-top: 18%;
}

.line2 {
    width: 150px;
    height: 2px;
    max-width: 100%;
    display: inline-flex;
    background-color: #A17857;
}

.supp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 50px;
}

.supp img {
    width: 100px;
    height: auto;
}


.team {
    padding: 45% 14%;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10%;
    gap: 3rem;
}

.col img {
    background-color: #FFFAF6;
    padding: 25px 25px 0 25px;
    align-items: center;
}

.details-col {
    text-align: start;
}

.details-col h1 {
    font-weight: 500;
    font-size: medium;
}

.details-col p {
    font-size: small;
    color: black;
    margin-bottom: 10px;
}

.icons {
    display: flex;
    gap: 1rem;
}

.icons a i {
    color: #0A8080;
    font-size: medium;
}

.icon-s {
    background-color: white;
    width: 50px;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    right: 30%;
    bottom: -135%;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.192);
}

.icon-s i {
    color: black;
}

.col-final {
    filter: contrast(50%)
}


.blog .title-sec {
    margin-top: 12%;
}

.col__blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin-top: 10%;
}

.col-blog h1 {
    font-size: medium;
    text-align: start;
    width: 75%;
}

.col-blog p {
    font-size: small;
    width: 70%;
    margin-top: 15px;
    color: black;
}

.col-blog .txt {
    background-color: #FFF5ED;
    padding: 30px;
    margin-bottom: 20px;
    width: 90%;
}

.col-blog .txt h1 {
    width: 90%;
}

.col-blog .image img {
    position: relative;
    margin-bottom: 20px;
    width: 85%;
    height: 80%;
}

.col-blog .image .txt1 {
    position: absolute;
    bottom: -232%;
    color: white;
    margin: 10px 0 50px 10px;
    width: 18%;
    font-size: small;
}

.col-blog .image .txt2 {
    position: absolute;
    bottom: -256%;
    color: white;
    margin: 10px 0 50px 10px;
    width: 18%;
    font-size: small;
}

/*subscribe start */
.subscribe {
    width: 100%;
    height: auto;
    background-image: url(assets/img/Group\ 79.png);
    background-position: center;
    background-size: cover;
    margin-top: 50%;
    padding: 6% 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.det {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: 3rem;
    background-color: white;
    width: 60%;
    padding: 2.5%;
    border-radius: 5px;
}

.titles h1 {
    font-size: 25px;
}

.titles p {
    font-size: 10px;
    color: rgb(0, 0, 0);
    width: 70%;
    margin-top: 10px;
}


form input {
    background-color: #D4DAE2;
    border: none;
    padding: 15px 30px;
    width: 65%;
    border-radius: 10px;
    color: black;
}

.txt3 p {
    color: black;
    font-size: 8px;
    margin-top: 10px;
    margin-left: 2px;
}

form a {
    background-color: #DB4A87;
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
}
.check-box{
    display: flex;
}
.check-box input {
    width: 15px;
}
.check-box p {
    font-size: 14px;
     margin-bottom: 8px;
     color: black;
}
/*subscribe end */

/*footer style*/

footer{
    width: 100%;
    height: auto;
    padding: 5% 10%;
}

.copy{
    margin-bottom: auto;
}

.rows div{
    margin-left: 20px;
}

.rows{
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: center;
    align-items: center;
    
}

.copy img{
    margin-right: 15px;
    width: 33px;
    height: auto;
    
}



.copy h1{
    font-size: 15px;
    color: #0F2137;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 10px;
    
}

.copy p{
    color: black;
    font-size: small;
   
}

.det-foot h1{
    font-weight: 600;
    font-size: large;
    margin-bottom: 30px;
    margin-left: 50px;
    vertical-align: middle;
}

.det-foot a{
    color: black;
    margin-bottom: 10px;
    margin-left: 50px;
    display: inline-flex;
}

.det-foot li img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: 2px;
    margin-right: 10px;
}
.fb{
    width: 20px;
    height: 20px;
    
  }
  
  .twit{
    width: 20px;
    height: 17px;
    
  }
  .github{
    width: 20px;
    height: 21px;
    
  }
  .drible{
    width: 20px;
    height: 21px;
    
  }
