@import url(global.css);


/*contact form*/
.contact{
  padding: 8% 30px;
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	background-color: #F8F0EA;
  justify-content: space-around;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center; 
  max-width: 60%;
  background: #fff;
  border-radius: 54px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 40px;
}

.content .image-box{
  max-width: 40%;
}
.content .image-box img{
  width: 100%;
}
.content .topic{
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
}
.content form{
  width: 40%;
  margin-left: 50px;
}

.content h1{
    font-size: 30px;
    font-weight: 600;
    
}
.content p{
    margin-bottom: 15px;
}
.content span{
   color: #0A8080;
}

.content .input-box{
  height: 50px;
  width: 100%;
  margin: 16px 0;
  position: relative;
}

input[type=text], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #0A8080;
    color: white;
    padding: 12px 155px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #169b9b;
  }
  

#contact-btn{
  width: 100%;
}
#contact-btn1{
  width: 100%;
}
#contact-btn2{
  width: 100%;
}
/*sign up form */

 

  /*log in form*/
  

  .test{
    display: flex;
    justify-content: space-between ;
    margin-top: 25px;
    
  }
  .test li{
    margin-bottom: 50px;
    
  }
  .test1{
    display: flex;
  }
  .test1 img{
    margin-top: 6px;
    width: 20px;
    height: 20px;
  }
  .test1 div h1 {
    margin-left: 15px;
    font-size: 13px;
  }
  .test1 div h2 {
    margin-left: 15px;
    font-size: 10px;
    font-weight: 400;
  }

  .txt {
    margin-bottom: 10px;
  }

  /*for the contact form*/
 
  @media screen and (max-width: 1400px) {
   
    .container{
      margin-bottom: 50px;
      max-width: 100%;
      background: #fff;
      border-radius: 54px;
      margin: 0 20px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    }
    .container .content{
     
      padding: 40px 40px;
    }
    
    .content .image-box{
      display: none;
    }
    .content .image-box img{
      width: 100%;
    }
    .content .topic{
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
    }
    .content form{
      justify-content: center;
      width: 100%;
      margin-left: 10%;
      margin-right: 10%;
    }
   
      
    .content h1{
        font-size: 30px;
        font-weight: 600;
        
    }
    .content p{
        margin-bottom: 15px;
    }
    .content span{
       color: #0A8080;
    }
    
    .content .input-box{
      height: 50px;
      width: 100%;
      margin: 16px 0;
      position: relative;
    }
    
    input[type=text], select {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }
      
      input[type=submit] {
        background-color: #0A8080;
        width: 100%;
        color: white;
        padding: 12px ; 
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #169b9b;
      }
    
  } 

 @media screen and (max-width: 620px) { 

  #contact-lable{
    font-size: 15px;
  }
    .test1{
     display: none;
     
    }
  } 

  
  @media screen and (max-width: 920px) {
    .contact{
      padding: 15% 30px;
    }
  }

  @media screen and (max-width: 500px) {
    .contact{
      padding: 20% 30px;
    }
  }
  
  @media screen and (max-width: 350px) {
    .contact{
      padding: 20% 30px;
    }
  }