*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	font-display: swap;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}
 
@font-face {
	font-family: 'Pacifico';
	font-style: normal;
	font-weight: 400;
	src: local('Pacifico Regular'), local('Pacifico-Regular'),
	  url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
		format('woff2');
	font-display: swap;
  }
  
:root{
	--bg-color: #FFFFFF;
	--text-color: black;
	--second-color: #5a7184;
	--main-color: #6e54fa;
	--big-font: 6rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}
body{
	background: var(--bg-color);
	color: var(--text-color);
}


nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 14%;
    background-color: var(--bg-color);
    transition: all 0.4s ease;
    z-index: 1000;
  }
   
  .navlist {
    display: flex;
    align-items: center;
  }
  
  .logo {
    display: flex;
    color: black;
    font-size: 20px;
    align-items: center;
  }
  
  .logo img {
    margin-right: 15px;
    width: auto;
    max-height: 30px;
  }
  
  .logoimg {
    width: 80px;
    height: 80px;
  }
  
  .navlist a, .navlist i, .btn {
    color: black;
    margin: 0 10px;
    letter-spacing: 2px;
    text-decoration: none;
  }
  
  .btn {
    margin-right: 20px;
  }
  
  .line img {
    position: absolute;
    right: 14%;
  }
  
  /* Style the dropdown container */
  .navlist .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Style the dropdown links */
  .navlist .dropdown a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #221212;
  }
  
  /* Style the dropdown menu */
  .navlist .dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Show the dropdown menu when hovering over the dropdown link */
 .navlist .dropdown:hover .dropdown-menu {
    display: block;
  } 
   
  /* Style the dropdown menu items */
  .navlist .dropdown-menu li {
    padding: 0px;
  }
  
  /* Style the last item in the dropdown menu to remove the border */
  .navlist .dropdown-menu li:last-child {
    border-bottom: none;
  }
  
  /* Style dropdown menu item links */
  .navlist .dropdown-menu a {
    font-size: 16px;
  }




  
/*footer style*/

footer{
    width: 100%;
    height: auto;
    padding: 5% 10%;
}

.copy{
    margin-bottom: auto;
}

.rows div{
    margin-left: 20px;
}

.rows{
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: center;
    align-items: center;
    
}

.copy img{
    margin-right: 15px;
    width: 33px;
    height: auto;
    
}



.copy h1{
    font-size: 15px;
    color: #0F2137;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 10px;
    
}

.copy p{
    color: rgb(0, 0, 0);
    font-size: small;
   
}

.det-foot h1{
    font-weight: 600;
    font-size: large;
    margin-bottom: 30px;
    margin-left: 50px;
    vertical-align: middle;
}

.det-foot a{
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    margin-left: 50px;
    display: inline-flex;
}

.det-foot li img{
    vertical-align: middle;
    margin-top: 2px;
    margin-right: 10px;
}

.fb{
  width: 20px;
  height: 20px;
  
}

.twit{
  width: 20px;
  height: 17px;
  
}
.github{
  width: 20px;
  height: 21px;
  
}
.drible{
  width: 20px;
  height: 21px;
  
}







@media screen and (max-width: 1154px) {

   nav{
    display: none;
   }
   
 }
 