@import url(../css/global.css);



.hero{
  padding-top: 80px;
  background-color: var(--background-color-1);
  height: 96vh;
  position: relative;
}
section .hero-content{
  padding-top: 60px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  line-height: 45px;
}
section .hero-content h1{
  padding-top: 20px;
  font-size: 30px;
  color: var(--heading-color);
}
section .hero-content button{
  background-color: var(--second-color);
  padding: 10px 25px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
section .hero-content button:hover{
  background-color: #047070;
}
section .hero-content img{
  width: 50%;
  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%, 16%);
}
/* Paddings */
.pd1{
  padding: 70px 0;
}
.pd2{
  padding:0 0 40px;
}

/*-- hero section -- */
.hero{
  width: 100%;
}
section .hero-content{
  text-align: left;
  margin-left: 3%;
  min-width: 85%;
}
section .hero-content h1{
  padding-top: 50px;
  margin-bottom: 20px;
  font-size: 28px;
  color: var(--heading-color);
  line-height: 40px;
}
section .hero-content p{
  line-height: 30px;
  margin-bottom: 10px;
}
section .hero-content button{
  padding: 8px 15px;
  font-size: 13px;
}
section .hero-content img{
  min-width: 90%;
  position: absolute;
  top:50%;
  left: 48%;
  transform: translate(-50%, 16%);
}
/* -- Services section -- */
.services{
  background-color: var(--background-color-2);
}
.title, .description{
  width: 60%;
  margin: auto;
  text-align: center;
  line-height: 30px;
}
.services .title, .left h3{
  font-size: 24px;
  color: var(--heading-color);
}
.services .description, .lef p{
  font-size: 15px;
  line-height: 28px;
  padding-top: 10px;
}
.items{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  row-gap: 60px;
  flex-wrap: wrap;
}
.items .service-item{
  width: 31%;
  display: flex;
}
.service-item img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.service-item p{
  padding-top: 10px ;
  font-size: 14px;
  color: var(--text-color);
}
small{
  display: block;
  color: #7E8896;
}
.qoute p ,.qoute small{
  width: 70%;
  margin: auto;
  line-height: 30px;
}

/* -- banner -- */
.banner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #7E8896;
  padding: 20px 0;
  position: relative;
}
.banner::after{
  content: "";
  position: absolute;
  background-color: #4F3926;
  width: 100px;
  height: 1px;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%);
}
.banner img{
  width: 100px;
}

/* -- Team section -- */
.team-item{
  width: 30%;
}
.team-item .developer{
  width: 100%;
  margin-bottom: 10px;
}

.social-icon img{
  width: 14px;
  margin-top: 4px;
}
.team{
  padding: 70px 16% 50px;
}
.color{
  background-color: hsl(219, 92%, 98%);
}
.item-description a, .left a{
  display: block;
  font-size: 13px;
  margin-top: 20px;
  color: #3183FF;
}
.team .top{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 20px;
  border-bottom: 1px solid #343D48;
  position: relative;
}
.team .top a{
  color: #000;
} 
.team .top::after{
  content: '';
  position: absolute;
  background-color: #4F3926;
  width: 300px;
  height: 2px;
  bottom: -2px;
  left: 17%;
  transform: translate(-50%,-50%);
}
.team .container{
  display: flex;
  justify-content: space-between;
  margin: 80px 0 0;
}
.team .left{
  flex-basis: 36%;
}
.left .emoji{
  width: 25px;
}
.left p{
  padding: 10px 0;
  line-height: 30px;
  font-size: 14px;
}
.left .lf-description{
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1fr);
  row-gap: 20px;
  column-gap: 10px;
}
.lf-description div{
  display: flex;
  align-items: center;
}
.lf-description img{
  padding-right: 10px;
}
.lf-description span{
  font-size: 13px;
}
.team .right{
  flex-basis: 50%;
  height: 70%;
}
.team .right .right-img{
  width: 100%;
}
/* -- Blog section -- */
.blog-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  gap: 20px;
  grid-template-areas:
      "img-1" "p2" "img-3"
      "title-1" "img-2"
      "p1 " " " "img-4"
      "" "sc-row"
  ;
}
.firt-col, .second-col, .third-col{
  flex-basis: 30%;
}
.blog-container img{
  border-radius: 4px;
}
.img-1{
  width: 100%;
  grid-area: img-1;
  margin-bottom: 10px;
}
.p1, .p3{
  padding-top: 10px;
  font-size: 14px;
  line-height: 30px;
}
.img-2{
  width: 100%;
  grid-area: img-2;
  margin-bottom: 10px;
}
.img-3{
  width: 100%;
  grid-area: img-3;
  position: relative;
}
.img-4{
  width: 100%;
  grid-area: img-4;
  margin-top: 30px;
}
.title-1{
  font-size: 20px;
  grid-area: title-1;
}
.p2{
  width: 100%;
  grid-area: p2;
  background-color: var(--background-color-1);
  padding: 14px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 600; 
}
.col-img{
  position: relative;
  color: white;
}
.p4, .p5{
  position: absolute;
  left: 0;
  bottom: 20px;
  z-index: 10;
  padding: 0 10px;
  font-size: 15px;
}
@media only screen and (max-width: 768px) {

  
  
  /* Paddings */
  .pd1{
      padding: 50px 0;
  }
  .pd2{
      padding:0 0 30px;
  }
  .title, .description{
      width: 90%;
      margin: auto;
  }
  .services .description, .lef p{
      font-size: 14px;
  }
  .items .service-item{
      justify-content: flex-start ;
      flex-basis: 95%;
  }
  .items .service-item .item-description{
      flex-basis: 79%;
      line-height: 26px;
  }
  .service-item img{
      min-width: 20px;
      margin-right: 10px;
  }
  .qoute img{
      width: 60px;
  }
  .qoute p ,.qoute small{
      width: 78%;
  }
  .qoute small{
      text-align: right;
      font-size: 12px;
  }
  


  /* -- Blog section -- */
  .blog-container{
      grid-template-columns: repeat(1, 1fr);
  }
  .second-col{
      order: 1;
  }
  .first-col{
      order: 2;
  }
  .third-col{
      order: 3;
  }
}




/*team section start*/
#superheros {
  width: 100%;
  text-align: center;
  padding-top: 70px;
}

#superheros h1 {
  margin-bottom: 20px;
}

.teamparent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.boxTeam {
  width: 500px;
  height: auto;
  text-align: start;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 80px;
}

.social {
  display: flex;
  width: 20px;
  gap: 20px;
}

.social img {
  width: 4px;
}

.boxTeam p {
  color: #7589a1;
}

.boxTeam img {
  width: 100%;
}


.swiper {
  width: 50%;
  height:100%;
} 



 .swiper-slide {
 
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
} 
@media (max-width: 1060px) {
  .teamparent .boxTeam {
    width: 100%;
  }

  .swiper {
    width: 100%;
  }
} 


@media (max-width: 710px) {
#team2{
  display: none;
}
#team3{
  display: none;
}
#team4{
  display: none;
}
} 
/*team section end*/


/*subscribe start */
#subscribe {
  height: 400px;
  width: 100%;
  background-image: url(../img/Group\ 79.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe2 {
  background-color: white;
  width: 900px;
  height: 200px;
  display: flex;
  padding: 20px;
  border-radius: 12px;
}

.contentsubscribe {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.formsubscribe {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formsubscribe button {
  background: #db4a87;
  color: white;
  border: none;
  width: 100px;
  height: 45px;
  border-radius: 5px;
  margin-top: .4%;
}

.formsubscribe input[type="text"] {
  background-color: #D4DAE2;
  border: none;
  padding: 15px 30px;
  width: 65%;
  border-radius: 10px;;
  color: black;
}

.before::before {
  content: url("../images/quote.png");
  position: absolute;
}

.contentsubscribe h1 {
  margin-bottom: 5px;
}


@media (max-width: 770px) {
  /* .nav2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  } */


  .subscribe2 {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .contentsubscribe {
    width: auto;
  }

  .formsubscribe {
    width: 100%;
  }
}

/*subscreption section End*/
